body {
    font-family: "Zain", sans-serif;
}

/* swiper bullets style */
.swiper-pagination-custom .swiper-pagination-bullet {
    background: rgba(48, 48, 48, 0.5);
    opacity: 1;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
    background: rgb(0, 0, 0);
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.bg-main-600{
    --tw-bg-opacity: 1;
    @apply text-textmain-500
}

.text-textmain-500{
    @apply hover:text-[#d2b89a];
}